<section class="footer">
    <div class="nav-items">
        <a href="#">About</a>
    </div>
    <div>
        <a href="#" target="_blank"><span class="iconify" data-inline="false" data-icon="cib:twitch"></span></a>
        <a href="#" target="_blank"><span class="iconify" data-inline="false" data-icon="fa:instagram"></span></a>
        <a href="#" target="_blank"><span class="iconify" data-inline="false" data-icon="cib:youtube"></span></a>
        <a href="#" target="_blank"><span class="iconify" data-inline="false" data-icon="cib:discord"></span></a>
    </div>
    <a href="#" target="_blank" class="copyright">© Example</a>
    <div class="bottom-banner"></div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>